<div class="home-header-container">
    <div class="home-header-content">
        <div class="left-content">
            <i class="fas fa-bars mx-4"></i>
            <img src="./assets/img/logo.png" class="header-logo" [routerLink]="['/home']"/>
        </div>
        <div class="center-content">
            <div class="child-content">
                <div><b>{{'title.title1'| translate}}</b></div>
                <div class="subs-title">{{'title.content1'| translate}}</div>
            </div>
            <div class="child-content">
                <div><b>{{'title.title2'| translate}}</b></div>
                <div class="subs-title">{{'title.content2'| translate}}</div>
            </div>
            <div class="child-content">
                <div><b>{{'title.title3'| translate}}</b></div>
                <div class="subs-title">{{'title.content3'| translate}}</div>
            </div>
            <div class="child-content">
                <div><b>{{'title.title4'| translate}}</b></div>
                <div class="subs-title">{{'title.content4'| translate}}</div>
            </div>
        </div>
        <div class="right-content">
            <div class="support">
                <i class="fas fa-question-circle"></i>
                {{'support'| translate}}
            </div>
            <select class="form-control mx-3" [(ngModel)]="change" (ngModelChange)="changeLanguage($event)" style="width:50%">
                <option value="" disabled selected>{{'language'| translate}}</option>
                <option value="vi">VN</option>
                <option value="en">EN</option>    
            </select>
        </div>
    </div>
</div>
<!-- <div class="home-header-banner">
    <div class="content-up">
        <div class="title1">{{'bigTitle.1'| translate}}</div>
        <div class="title2">{{'bigTitle.2'| translate}}</div>
        <div class="search">
            <i class="fas fa-search"></i>
            <input type="text" placeholder="{{'search'| translate}}">
        </div>
    </div>
    <div class="content-down">
        <div class="options">
            <div class="option-child">
                <div class="icon-child">
                    <i class="far fa-hospital"></i>
                </div>
                <div class="text-child">{{'service.1'| translate}}</div>
            </div>
            <div class="option-child">
                <div class="icon-child">
                    <i class="fas fa-mobile-alt"></i>
                </div>
                <div class="text-child">{{'service.2'| translate}}</div>
            </div>
            <div class="option-child">
                <div class="icon-child">
                    <i class="fas fa-procedures"></i>
                </div>
                <div class="text-child">{{'service.3'| translate}}</div>
            </div>
            <div class="option-child">
                <div class="icon-child">
                    <i class="fas fa-microscope"></i>
                </div>
                <div class="text-child">{{'service.4'| translate}}</div>
            </div>
            <div class="option-child">
                <div class="icon-child">
                    <i class="fas fa-user-md"></i>
                </div>
                <div class="text-child">{{'service.5'| translate}}</div>
            </div>
            <div class="option-child">
                <div class="icon-child">
                    <i class="fas fa-tooth"></i>
                </div>
                <div class="text-child">{{'service.6'| translate}}</div>
            </div>
        </div>
    </div>
    
</div> -->