<app-system-header></app-system-header>
<h3 class="text-center">Tạo thêm thông tin bác sĩ</h3>

<div class="container">
    <form [formGroup]="inforForm" (ngSubmit)="onSubmit()">
        <div class="row">

            <div class="col-md-6">
                <label>Chọn bác sĩ</label>
                <ng-select formControlName="doctorId">
                    <ng-option *ngFor="let doc of doctors" [value]="doc.id">{{doc.lastName +' '+doc.firstName}}</ng-option>
                </ng-select>
            </div>
            <div class="col-md-6">
                <label>Thông tin giới thiệu</label>
                <textarea name="" id="" cols="30" rows="5" class="form-control"
                    formControlName="description"></textarea>
            </div>
            <div class="col-md-4">
                <label>Chọn giá</label>
                <ng-select formControlName="priceId">
                    <ng-option *ngFor="let p of prices" [value]="p.keyMap">{{p.valueVi}}</ng-option>
                </ng-select>
            </div>
            <div class="col-md-4">
                <label>Chọn phương thức thanh toán</label>
                <ng-select formControlName="paymentId"> 
                    <ng-option *ngFor="let p of payments" [value]="p.keyMap">{{p.valueVi}}</ng-option>
                </ng-select>
            </div>
            <div class="col-md-4">
                <label>Chọn tỉnh thành</label>
                <ng-select formControlName="provinceId">
                    <ng-option *ngFor="let p of provinces" [value]="p.keyMap">{{p.valueVi}}</ng-option>
                </ng-select>
            </div>
            <div class="col-md-4">
                <label>Tên phòng khám</label>
                <input type="text" class="form-control" formControlName="nameClinic"/>
            </div>
            <div class="col-md-4">
                <label>Địa chỉ phòng khám</label>
                <input type="text" class="form-control" formControlName="addressClinic"/>
            </div>
            <div class="col-md-4">
                <label>Ghi chú</label>
                <input type="text" class="form-control" formControlName="note"/>
            </div>
            <div class="col-md-4">
                <label>Chọn chuyên khoa</label>
                <ng-select formControlName="specialtyId">
                    <ng-option *ngFor="let p of specialties" [value]="p.id">{{p.name}}</ng-option>
                </ng-select>
            </div>
            <div class="col-md-4">
                <label>Chọn phòng khám</label>
                <ng-select formControlName="clinicId">
                    <ng-option *ngFor="let p of clinics" [value]="p.id">{{p.name}}</ng-option>
                </ng-select>
            </div>
            <div class="col-md-12">
                <ckeditor formControlName="contentHTML"></ckeditor>
            </div>
            <div class="col-md-12">
                <button class="btn btn-warning" type="submit">Lưu</button>
            </div>
        </div>
    </form>
</div>