<div class="section-share section-about">
    <div class="section-about-header">
        Truyền thông nói về my website
    </div>
    <div class="section-about-content">
        <div class="content-left">
            <iframe width="100%" height="400px" src="https://www.youtube.com/embed/QPKHfugLTqc"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </div>
        <div class="content-right">
            <p>
                Nhà Hán là hoàng triều thứ hai trong lịch sử Trung Quốc, do thủ lĩnh khởi nghĩa nông dân Lưu Bang thành
                lập và được cai trị bởi gia tộc họ Lưu. Tiếp nối nhà Tần (221 TCN - 206 TCN) tồn tại trong một khoảng
                thời gian ngắn ngủi và thời kỳ Chiến tranh Hán - Sở vô quân chủ, nhà Hán bị gián đoạn giai đoạn ngắn khi
                nhiếp chính Vương Mãng tiếm quyền, lập nên nhà Tân (9 - 23). Nó tồn tại qua hai thời kỳ - Tây Hán (206 -
                9) và Đông Hán (23 - 220) - trước khi thời kỳ Tam Quốc mở ra. Trải dài hơn bốn thế kỷ, nhà Hán được coi
                là triều đại hoàng kim trong lịch sử Trung Quốc, ảnh hưởng mạnh mẽ đến bản sắc nền văn minh Trung Hoa
                cho tới mãi về sau. Ngày nay, nhóm dân tộc đa số ở Trung Quốc tự gọi mình là "Hán nhân", tiếng Trung
                được gọi là "Hán ngữ" và chữ viết Trung Quốc được gọi là "Hán tự".
            </p>
        </div>
    </div>
</div>